In [1]:
#import the library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load the dataset
dataset=pd.read_csv("generation_fuel.csv")
dataset

       country            fuel  generation_gwh_2014
0      Albania    Cogeneration                    0
1      Albania         Nuclear                    0
2      Albania            Coal                    0
3      Albania         Petcoke                    0
4      Albania           Other                    0
...        ...             ...                  ...
2095  Zimbabwe         Biomass                  144
2096  Zimbabwe  Wave_and_Tidal                    0
2097  Zimbabwe      Geothermal                    0
2098  Zimbabwe           Solar                    0
2099  Zimbabwe           Total                10023

[2100 rows x 3 columns]

In [3]:
dataset.head()

   country          fuel  generation_gwh_2014
0  Albania  Cogeneration                    0
1  Albania       Nuclear                    0
2  Albania          Coal                    0
3  Albania       Petcoke                    0
4  Albania         Other                    0

In [4]:
dataset.tail()

       country            fuel  generation_gwh_2014
2095  Zimbabwe         Biomass                  144
2096  Zimbabwe  Wave_and_Tidal                    0
2097  Zimbabwe      Geothermal                    0
2098  Zimbabwe           Solar                    0
2099  Zimbabwe           Total                10023

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              2100 non-null   object
 1   fuel                 2100 non-null   object
 2   generation_gwh_2014  2100 non-null   int64
dtypes: int64(1), object(2)
memory usage: 49.3+ KB

In [6]:
dataset.describe()

       generation_gwh_2014
count         2.100000e+03
mean          2.260699e+04
std           1.988633e+05
min           0.000000e+00
25%           0.000000e+00
50%           0.000000e+00
75%           1.986750e+03
max           5.678945e+06

In [7]:
# data cleaning
dataset.isnull

<bound method DataFrame.isnull of        country            fuel  generation_gwh_2014
0      Albania    Cogeneration                    0
1      Albania         Nuclear                    0
2      Albania            Coal                    0
3      Albania         Petcoke                    0
4      Albania           Other                    0
...        ...             ...                  ...
2095  Zimbabwe         Biomass                  144
2096  Zimbabwe  Wave_and_Tidal                    0
2097  Zimbabwe      Geothermal                    0
2098  Zimbabwe           Solar                    0
2099  Zimbabwe           Total                10023

[2100 rows x 3 columns]>

In [8]:
dataset.isnull().sum()

country                0
fuel                   0
generation_gwh_2014    0
dtype: int64

In [9]:
dataset.mean()

generation_gwh_2014    22606.989048
dtype: float64

In [10]:
dataset.fillna(dataset.mean())

       country            fuel  generation_gwh_2014
0      Albania    Cogeneration                    0
1      Albania         Nuclear                    0
2      Albania            Coal                    0
3      Albania         Petcoke                    0
4      Albania           Other                    0
...        ...             ...                  ...
2095  Zimbabwe         Biomass                  144
2096  Zimbabwe  Wave_and_Tidal                    0
2097  Zimbabwe      Geothermal                    0
2098  Zimbabwe           Solar                    0
2099  Zimbabwe           Total                10023

[2100 rows x 3 columns]

In [ ]:
#saving the model
import joblib
joblib.dump(mod,"dataset.pkl")